{
	email {$CADDY_EMAIL:comtact@kop.life}
}

kop.life, www.kop.life {
	handle /api/logout {
		reverse_proxy frontend:3000
	}
	handle /api/set-token {
		reverse_proxy frontend:3000
	}

	handle /api/* {
		reverse_proxy backend:8000
	}

	handle /ws/* {
		reverse_proxy backend:8000
	}

	handle /admin/* {
		reverse_proxy backend:8000
	}
	handle /static/* {
		reverse_proxy backend:8000
	}

	handle_path /media/* {
		root * /media
		file_server
		header Cache-Control "public, max-age=604800"
	}

	handle {
		reverse_proxy frontend:3000
	}
}
